<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../utils/jQuery.min.js"></script>
    <script src="../utils/mock.js"></script>
    <link rel="stylesheet" href="../../public/css/anamie.min.css">
    <link rel="stylesheet" href="../../public/css/iconfont.css" />
    <link rel="stylesheet" href="../../public/css/public.css" />
    <link rel="stylesheet" href="../../public/css/ingdex.css" />
  </head>
  <body>
    <div class="header">
      <div class="concent">
        <div class="left">
          <span class="iconfont icon-31shijian">在线时间8:30~21:30</span>
          <span>欢迎<font></font>访问户外网运动专卖商城！</span>
        </div>
        <div class="right">
          <span class="iconfont icon-sousuoxiao" style="font-size: 16px"></span>
          <span class="iconfont icon-yonghu"></span>
          <span class="iconfont icon-gouwuche"></span>
        </div>
      </div>
    </div>
    <div class="shop clearFloat">
      <span class="left">SPORTING</span>
      <form class="right">
        <input type="text" /><button class="iconfont icon-sousuo"></button>
      </form>
    </div>
    <div class="nav">
      <ul>
        <li class="active">商城首页</li>
        <li>所有商品</li>
        <li>商品动态</li>
        <li>支付方式</li>
        <li>关于店铺</li>
        <li>线下门店</li>
      </ul>
    </div>
    <!-- 书写内容开始 -->
    <div class="slideshow">
        <span>SPORTING GOODS</span>
        <a href="">进入在线商城</a>
    </div>
    <div class="aboutUs clearFloat">
        <div class="content wow rightSlidingIn" data-wow-duration="1s" >
            <span>关于我们</span>
            <span>About us</span>
        </div>
        <div class="img">
        </div>
        <div class="text">
            <h1 class="wow rightSlidingIn" data-wow-duration="1.5s" >SPORTING<br>GOODS</h1>
            <span class="wow rightSlidingIn" data-wow-duration="2s" >在专栏设置面板中，您可以更换背景图片的
                非常简单的，不需要任何别的设置</span>
                <a href="" class="wow rightSlidingIn" data-wow-duration="2.5s" >查询更多详情</a>
        </div>
    </div>
    <!-- 热卖商品 -->
    <div class="data-commodity "   >
        <div class="title wow rightSlidingIn" data-wow-duration="1s" >
            <h3>热卖商品</h3>
            <span>New product</span>
        </div>
        <div class="data-show wow passUp" data-wow-duration="1.5s" style="overflow: hidden;">
            <div>
                <img src="../../public/images/data-commod-1 (1).webp" alt="">
                <p>滑雪眼镜012</p>
                <span>￥28888</span>
                <font>立即购买</font>
            </div>
            <div>
                <img src="../../public/images/data-commod-1 (1).webp" alt="">
                <p>滑雪眼镜012</p>
                <span>￥28888</span>
            </div>
            <div>
                <img src="../../public/images/data-commod-1 (1).webp" alt="">
                <p>滑雪眼镜012</p>
                <span>￥28888</span>
            </div>
            <div>
                <img src="../../public/images/data-commod-1 (1).webp" alt="">
                <p>滑雪眼镜012</p>
                <span>￥28888</span>
            </div>
            <div>
                <img src="../../public/images/data-commod-1 (1).webp" alt="">
                <p>滑雪眼镜012</p>
                <span>￥28888</span>
            </div>
            <div>
                <img src="../../public/images/data-commod-1 (1).webp" alt="">
                <p>滑雪眼镜012</p>
                <span>￥28888</span>
            </div>
            <div>
                <img src="../../public/images/data-commod-1 (1).webp" alt="">
                <p>滑雪眼镜012</p>
                <span>￥28888</span>
            </div>
            <div>
                <img src="../../public/images/data-commod-1 (1).webp" alt="">
                <p>滑雪眼镜012</p>
                <span>￥28888</span>
            </div>
        </div>
    </div>
    <!-- 热卖商品2 -->
    <div class="data-commodityBom " >
      <div class="title wow rightSlidingIn" data-wow-duration="1s">
        <h3>热卖商品</h3>
        <span>New product</span>
      </div>
      <div class="data-show clearFloat">
        <div class="left wow animate__slideInLeft" data-wow-duration="1s">
            <!-- <div class="text">
              <img src="../../public/images/lunbo-2.webp" alt="" class="left">
              <div>
                	探路者&新浪体育超级雪滑雪季暨明星邀请赛今冬启动<br>
                  <span>发布日期：2017-05-23</span><br><br>
                  <p>秋天的拉萨，天气比较干燥，这个时候在家里养一些可以制造氧气和水分的植物大有好处。记者走访多个花店后发现，很多店老板都会同时提到一种制氧植物——红豆杉。红豆杉有“植物增氧机”之称...</p>
              </div>
            </div>
            <div class="text">
            <div class="img">

            </div>
            </div> -->
        </div>
        <div class="right wow animate__slideInRight" data-wow-duration="1s"></div>
      </div>
    </div>
    <!-- 背景附着 -->
    <div class="bglist">
      <div class="pic">
        <strong>SPORTING GOODS</strong><br>
        <span>在区块设置面板中，您可以更换背景图片非常简单，不需要任何别的设置</span>
      </div>
      <div class="picTwo">
        <strong>SPORTING GOODS</strong><br>
        <span>在区块设置面板中，您可以更换背景图片非常简单，不需要任何别的设置</span>
      </div>
      <div class="picSur">
        <strong>SPORTING GOODS</strong><br>
        <span>在区块设置面板中，您可以更换背景图片非常简单，不需要任何别的设置</span><br>
        <a href="">进入在线商城</a>
      </div>
    </div>
    <!-- 书写内容结束 -->
    <div class="sidebar">
      <ul>
        <li><span class="iconfont icon-dianhua"></span></li>
        <li><span class="iconfont icon-qq"></span></li>
        <li><span class="iconfont icon-xiangshang3"></span></li>
      </ul>
    </div>
    <div class="friendlink">
      <div class="conter">
        <img src="../../public/images/friendlink-1.webp" alt="">
      <img src="../../public/images/friendlink-2.webp" alt="">
      <img src="../../public/images/friendlink-3.webp" alt="">
      <img src="../../public/images/friendlink-4.webp" alt="">
      <img src="../../public/images/friendlink-5.webp" alt="">
      <img src="../../public/images/friendlink-6.webp" alt="">
      <img src="../../public/images/friendlink-7.webp" alt="">
      <img src="../../public/images/friendlink-8.webp" alt="">
      </div>
    </div>
    <div class="footer">
      <div class="top">
        <ul>
          <li>
            <img src="../../public/images/footer-top-one.webp" alt="" />
            <h4>满100元全国包邮</h4>
            <span>全场订单满1000元全国包邮</span>
          </li>
          <li>
            <img src="../../public/images/footer-top-two.webp" alt="" />
            <h4>下单送精美礼品</h4>
            <span>本店购买任意商品赠送精美礼品</span>
          </li>
          <li>
            <img src="../../public/images/footer-top-surry.webp" alt="" />
            <h4>贴心的售后服务</h4>
            <span>7×24小时售后随时为您服务</span>
          </li>
          <li>
            <img src="../../public/images/footer-top-foru.webp" alt="" />
            <h4>店铺优惠券</h4>
            <span>每日整点可领取限量优惠券</span>
          </li>
        </ul>
      </div>
      <div class="concent">
        <div>
          <h4>关于产品</h4>
          <span
            >本店商品非质量问题谢绝退换，如<br />
            有质量问题，本店承担运费调换</span
          >
        </div>
        <div>
          <h4>售后服务</h4>
          <span>消費者保障服务 <br />七天无理由退款 <br />假一赔三</span>
        </div>
        <div>
          <h4>退换货政策</h4>
          <span
            >本店商品非质量问题谢绝退换，如<br />
            有质量问题，本店承担运费调换</span
          >
        </div>
        <div>
          <h4>售后服务</h4>
          <span
            >本店商品非质量问题谢绝退换，如<br />
            有质量问题，本店承担运费调换</span
          >
        </div>
        <div>
          <h4>支付方式</h4>
          <img src="../../public/images/银联.png" alt="" />
          <img src="../../public/images/支付宝.png" alt="" />
          <img src="../../public/images/微信.png" alt="" />
        </div>
        <div>
          <h4>关于商城</h4>
          <span
            >本店商品非质量问题谢绝退换，如<br />
            有质量问题，本店承担运费调换</span
          >
        </div>
        <div>
          <h4>关于产品</h4>
          <span
            >本店商品非质量问题谢绝退换，如<br />
            有质量问题，本店承担运费调换</span
          >
        </div>
        <div>
          <h4>SPORTING</h4>
          <img
            src="../../public/images/二维码.webp"
            alt=""
            style="height: 100px; width: 100px"
          /><br /><span>搜索微信号：HUAYU</span>
        </div>
      </div>
      <div class="bottom">
        <span class="iconfont icon-weibo"></span>
        <span class="iconfont icon-weixin"></span>
        <span class="iconfont icon-facebook"></span>
        <span class="iconfont icon-tuite"></span>
        <span class="iconfont icon-linkedin-in"></span>
        <span class="iconfont icon-Youtube-fill"></span>
        <p>Copyright © 2010-2015户外运动商品专卖 All rights reserved</p>
      </div>
    </div>
    <script src="../components/lunboAgo.js"></script>
    <script src="../api/lunboAPI.js"></script>
    <script src="../../public/js/wow.min.js"></script>
    <script src="../../public/js/up.js"></script>
    <script>
      new WOW().init();
    </script>
  </body>
</html>
